<%= simple_form_for(@tanque) do |f| %>

  <% if @tanque.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tanque.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @tanque.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
    <div class="field">
      <%= f.label :code, "Code:" %><br>
      <%= f.text_field :code %>
    </div>
    
    <div class="field">
    <%= f.label :product_id, "Producto:" %><br>
    <%= f.collection_select :product_id, @products, :id, :name, :prompt => true %>
    </div>

<div class="field">
    <%= f.label :truck_id, "Placa :" %><br>
    <%= f.collection_select :truck_id, @trucks, :id, :placa, :prompt => true %>
    </div>

      <div class="field">
    <%= f.label :saldo_inicial, "Saldo Inicial:" %><br>
    <%= f.number_field :saldo_inicial  %>
    </div>
      <div class="field">
      <%= f.label :varilla, "Varilla:" %><br>
      <%= f.number_field :varilla  %>
    </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
