<p id="notice"><%= notice %></p>

<h1>Listing Sheet Route Details</h1>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Employee</th>
      <th>Km in</th>
      <th>Km out</th>
      <th>Total</th>
      <th>Lugar</th>
      <th>Comb km</th>
      <th>Comb glns</th>
      <th>Mant km</th>
      <th>Observa</th>
      <th>References</th>
      <th>Employees</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sheet_route_details.each do |sheet_route_detail| %>
      <tr>
        <td><%= sheet_route_detail.fecha %></td>
        <td><%= sheet_route_detail.employee_id %></td>
        <td><%= sheet_route_detail.km_in %></td>
        <td><%= sheet_route_detail.km_out %></td>
        <td><%= sheet_route_detail.total %></td>
        <td><%= sheet_route_detail.lugar %></td>
        <td><%= sheet_route_detail.comb_km %></td>
        <td><%= sheet_route_detail.comb_glns %></td>
        <td><%= sheet_route_detail.mant_km %></td>
        <td><%= sheet_route_detail.observa %></td>
        <td><%= sheet_route_detail.references %></td>
        <td><%= sheet_route_detail.employees %></td>
        <td><%= link_to 'Show', sheet_route_detail %></td>
        <td><%= link_to 'Edit', edit_sheet_route_detail_path(sheet_route_detail) %></td>
        <td><%= link_to 'Destroy', sheet_route_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sheet route detail', new_sheet_route_detail_path %>
