<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @sheet_route_detail.fecha %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @sheet_route_detail.employee_id %>
</p>

<p>
  <strong>Km in:</strong>
  <%= @sheet_route_detail.km_in %>
</p>

<p>
  <strong>Km out:</strong>
  <%= @sheet_route_detail.km_out %>
</p>

<p>
  <strong>Total:</strong>
  <%= @sheet_route_detail.total %>
</p>

<p>
  <strong>Lugar:</strong>
  <%= @sheet_route_detail.lugar %>
</p>

<p>
  <strong>Comb km:</strong>
  <%= @sheet_route_detail.comb_km %>
</p>

<p>
  <strong>Comb glns:</strong>
  <%= @sheet_route_detail.comb_glns %>
</p>

<p>
  <strong>Mant km:</strong>
  <%= @sheet_route_detail.mant_km %>
</p>

<p>
  <strong>Observa:</strong>
  <%= @sheet_route_detail.observa %>
</p>

<p>
  <strong>References:</strong>
  <%= @sheet_route_detail.references %>
</p>

<p>
  <strong>Employees:</strong>
  <%= @sheet_route_detail.employees %>
</p>

<%= link_to 'Edit', edit_sheet_route_detail_path(@sheet_route_detail) %> |
<%= link_to 'Back', sheet_route_details_path %>
