<p id="notice"><%= notice %></p>

<h1>Listing Sheet Routes</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Fecha</th>
      <th>Truck</th>
      <th>References</th>
      <th>Trucks</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sheet_routes.each do |sheet_route| %>
      <tr>
        <td><%= sheet_route.code %></td>
        <td><%= sheet_route.fecha %></td>
        <td><%= sheet_route.truck_id %></td>
        <td><%= sheet_route.references %></td>
        <td><%= sheet_route.trucks %></td>
        <td><%= link_to 'Show', sheet_route %></td>
        <td><%= link_to 'Edit', edit_sheet_route_path(sheet_route) %></td>
        <td><%= link_to 'Destroy', sheet_route, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sheet route', new_sheet_route_path %>
