<p id="notice"><%= notice %></p>

<h1>Listado Hoja de Ruta</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Fecha</th>
      <th>Truck</th>
      <th>Procesado </th>
    
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @sheet_routes.each do |sheet_route| %>
      <tr>
        <td><%= sheet_route.code %></td>
        <td><%= sheet_route.fecha %></td>
        <td><%= sheet_route.truck.placa  %></td>
        <td class="bordered_right bordered_bottom <%= sheet_route.processed_color %>">
            <%= sheet_route.get_processed_short %>
        </td>


        <td><%= link_to 'Ver', sheet_route %></td>
        
        <% if sheet_route.processed =="" || sheet_route.processed == nil %>

        <td><%= link_to 'Editar', edit_sheet_route_path(sheet_route) %></td>

        <td><%= link_to 'Eliminar', sheet_route, method: :delete, data: { confirm: 'Are you sure?' } %></td>

        <% end %>


      </tr>
    <% end %>
  </tbody>
</table>

<br>


<div class="button">
<%= link_to 'Nuevo ', new_sheet_route_path %>
</div>