<p id="notice"><%= notice %></p>

<h1>Listing Abastes</h1>

<table>
  <thead>
    <tr>
    
      <th>Fecha</th>
      <th>Customer</th>
      <th>Vehiculo</th>
      <th>Employee</th>
      <th>Km</th>
      <th>Galones</th>
      <th>Horometro</th>
      <th>Comments</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @abastes.each do |abaste| %>
      <tr>

        <td><%= abaste.fecha.strftime("%d/%m/%Y") %></td>
        <td><%= abaste.customer.name  %></td>
        <td><%= abaste.truck.placa  %></td>
        <td><%= abaste.employee.full_name %></td>
        <td><%= abaste.km %></td>
        <td><%= abaste.qty %></td>
        <td><%= abaste.horometro %></td>
        <td><%= abaste.comments %></td>
        <td><%= abaste.user_id %></td>
        <td><%= link_to 'Ver', abaste %></td>
        <td><%= link_to 'Edit', edit_abaste_path(abaste) %></td>
          <% if @current_user.level == "admin" %>
        <td><%= link_to 'Destroy', abaste, method: :delete, data: { confirm: 'Are you sure?' } %></td>

        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Abaste', new_abaste_path %>
