<p id="notice"><%= notice %></p>



<p>
  <strong>Code:</strong>
  <%= @abaste.code %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @abaste.fecha %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @abaste.customer_id %>
</p>

<p>
  <strong>Vehiculo:</strong>
  <%= @abaste.vehiculo_id %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @abaste.employee_id %>
</p>

<p>
  <strong>Km:</strong>
  <%= @abaste.km %>
</p>

<p>
  <strong>Galones:</strong>
  <%= @abaste.qty %>
</p>

<p>
  <strong>Horometro:</strong>
  <%= @abaste.horometro %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @abaste.comments %>
</p>

<p>
  <strong>User:</strong>
  <%= @abaste.user_id %>
</p>

<%= link_to 'Back', abastes_path %>
